* {
	font:400 14px/20px "helvetica neue", arial, sans-serif;
}

.clr{clear:both;}

#ic {
	width:100%;
	border:1px solid #ccc;
	border-bottom:0;
}
#ic span{
	display:block;
	padding:5px 10px;
}

#ctnr{
	padding:10px;
}

#chat-ctnr {
	width:100%;
	height:70%;
	overflow:auto;
	border:1px solid #ccc;
}

#incomingChatMessages {
	padding:5px;
	margin:0;
	list-style:none;
}

#incomingChatMessages li{
	position:relative;
	width:100%;
}

#incomingChatMessages li .icmb{
	padding:2px;
}

#incomingChatMessages li .cu{
	float:left;
	width:15%;
	margin:2px 1% 2px 0;
}

#incomingChatMessages li .cu span{
	display:block;
	padding:3px;
}

#incomingChatMessages li .cm{
	width:83%;
	float:left;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#f5f5f5;
	margin:2px 0;
	transition:all .3s;
	-moz-transition:all .3s;
	-webkit-transition:all .3s;
	-o-transition:all .3s;
}
#incomingChatMessages li .cm span{
	display:block;
	float:left;
	padding:3px;
}

#incomingChatMessages li .cm time{
	float:right;
	background:#fff;
	margin:2px 3px 0;
	font:400 10px/14px "helvetica neue", arial, sans-serif;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

#incomingChatMessages li.alert span{
	font-weight:bold;
	padding:4px;
}

#incomingChatMessages li.active {
	background:#ddffdd;
}

#outgoingChatMessage {
	margin:5px 0;
	padding:5px;
	outline:none;
	border:1px solid #ccc;
	width:100%;
}

#outgoingChatMessage:focus {
	border:1px solid #1c94c4;
}